name: Remote Terminal Access (tmate)

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest
    timeout-minutes: 360   # max ~6 hours

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Start tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
